.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #ffbad5;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 128px;
  top: 83px;
  width: 333px;
  height: 73px;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1035px;
  top: 98px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 809px;
  top: 98px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.frame-3 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1199px;
  top: 98px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "InriaSerif-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 121px;
  top: 233px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 376px;
  width: 1024px;
  height: 154px;
}
.professor-ta-contact-details-paul-t-shapiro-pshapiro-umd-edu-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 121px;
  top: 469px;
}
